@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Playfair+Display:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@200;300;400;500;600;700;800;900&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: white !important;
}
header div{
	z-index: 3;
}
#head_image {
	background: url(../img/1.jpg) no-repeat  center;
}
.header_img{
	width: 50%;
	background: url(../img/2.png) no-repeat  center;
	background-size: cover;
}


.header_text_block {
	background: #4837e9;
	padding-left: 93px;
	padding-bottom: 114px;
	width: 50%;
}
.header_text{
	margin-top: 354px;
}
.header_text h3{
	color:#48e7e8;
	font-size: 33px;
	font-family: 'Playfair Display', serif;

}
.header_text h1{
	color: white;
	font-size: 88px;
	font-weight: bold;
	max-width: 300px;
	line-height: 105px;
	margin-bottom: -25px;
	font-family: 'Playfair Display';
}

.one_morning{
	margin-top: 58px;
	font-size: 18px;
	max-width: 629px;
	color: #674ee1;
}
.fa-facebook-f:before, .fa-facebook:before {
	content: "\f39e" !important;
}
.social {
	margin-top: 123px;
}
.social a{
	margin-right: 37px;
}
.social svg{
	font-size: 23px;
}
.header_text_end .tel{
	margin-top: 43px;
	margin-bottom: 0px;
	font-size: 17px;
	color: #674ee1;
	font-family: 'Open Sans';
}
.header_text_end .email{
	margin-top: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: white;
	margin-bottom: 0px;
	font-weight: 100;
}



@media only screen and (max-width: 1200px) {
	.header_text {
		top: 10%;
	}
	.header_text h1 {
		font-size: 80px;
	}

	.header_text_block {
		padding-right: 20px;
	}


}