.my_blog{
	background: url(../img/2.png) no-repeat ;
	background-size: 100%;
	padding: 221px 88px 147px 88px;

}

.my_blog_header .my_works_collection{
	margin-left: auto;
	margin-right: 72px;
	margin-top: 10px;
}
.my_blog_header .btn_circle{
	float: right;
	margin-right: 0px;
}

.my_blog_read{
	margin-top: 12px;
	margin-right: 191px;
	color: #674ee1;
	font-size: 19px;
	text-align: center;
	margin-bottom: 27px;
}

.my_blog_block {
	margin-top: 10px;
	padding-right: 26px;
	width: 33%;
	color: white;
}
.my_blog_block h1{
	font-size: 35px;
	margin-top: 28px;
	letter-spacing: -0.4px;
}
.my_blog_block svg{
	margin-right: 4px;
}
.block_and_time_my_blog p{
	font-size: 18px;
	margin-right: 30px;
	margin-top: 6px;
}
.my_blog_block .text{
	font-size: 17.4px;
	padding-top: 11px;
	line-height: 27px;
	letter-spacing: 0.21px;
}
.my_blog_block hr{
	background:#674ee1;
	margin-top: 35px;
}
.header_block_my_blog .one {
	margin-left: 18px;
}
.header_block_my_blog .two {
	width: 32%;
	margin-left: 27px;
	padding-right: 0px;
}

