.my_works_img_block div{
	position: relative;
	top: -210px;
}


.my_works{
	padding-left: 84px;
	padding-right: 86px;
	/* padding-bottom: 89px; */
	background: #4837e9;
	padding-top: 151px;
	font-weight: 700;
}

.my_works_header{
	align-items: center;
	font-size: 76px;
	margin-left: 18px;
	font-weight: bold;
	color: white;
	margin-bottom: 0;
	margin-left: 0;
}
.my_works_header hr{
	width: 30px;
	border: 2px solid white;
	margin-right: 20px;
	margin-left: 5px;
	margin-top: 31px;
}

.one_block {
	align-items: center;
}
.my_works_header .Works{
	margin-left: 10px;
}
.my_works_collection{
	width: 714px;
	font-size: 18px;
	color: white;
	font-weight: 100;
	padding-left: 27px;
	padding-top: 20px;
	margin-left: 158px;
	margin-right: 40px;
}
.btn_circle{
	color: white;
	font-size: 44px;
	margin-top: 14px;
}

.view_all_work{
	text-align: center;
	margin-top: 12px;
	font-size: 19px;
	font-weight: 100;
	margin-right: 140px;
	margin-bottom: 57px;
}
.view_all_work a{
	color: #48e7e8 !important;
	padding-left: 27px;
}

/*
	animacion for img
*/
.my_works .container {
	position: relative;
	background: white;
	padding: 0 !important;
	width: 325px !important;

}

.my_works .image {
	width: 325px !important;
	height: 522px !important;
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.my_works .container:hover .image {
	opacity: 0.3;
}

.my_works .container:hover .middle {
	opacity: 1;
}

.my_works .text {
	background-color: #4CAF50;
	color: white;
	font-size: 14px;
	padding: 16px 32px;
}

/*
	end animacion for img
*/