
.experience{
	padding-bottom: 95px;
}

.experience_left {
	
	padding-left: 86px;
	margin-top: 130px;
}

.experience_left .block_head h1{
	font-size: 80px;
    font-weight: 700;
}
.experience_left .block_head hr{
	margin-top: 2px;
	float: right;
    width: 79px;
    background: #4837e9;
}

.block_head .text_one_morning {
	width: 680px;
    font-size: 19.6px;
    margin-top: 25px;
    margin-bottom: 103px;
    margin-left: 126px;
}

.line_and_year {
	margin-left: auto;
	font-size: 23px;
	font-weight: bold;
	margin-right: 91px;

	
}
.line_and_year span{
	padding-left: 28px;
}

.vertical_line{
  position: relative;
  left: -6px;
  top:16px;
  width: 0px !important;
  border: 0;
  margin: 0;
  border-left: 1px solid blue;
  height: 215px;
}


.block_lucaz_film h2{
	padding-left: 27px;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.7px;
    color: #4837e9;
}

.block_lucaz_film h3{
	padding-left: 27px;
	font-size: 21px;
	color: gray;
}
.block_lucaz_film p{

	width:710px;
	font-size: 27.5px;
	color: #c3c3c3;
	padding-top: 5px; 
	padding-left: 27px;


}