@media only screen and (max-width: 1579px) {
  .my_works_collection {
    margin-left: auto;
  }
  .img_for_slide {
  	text-align: center;
  }
  .img_for_slide img{
  	width: 33%;
  }
  	.lovely_img{
	    flex-wrap: wrap;
	    text-align: center;
	}
}
@media only screen and (max-width: 1420px) {
	.my_works_collection{
		width: 33%;
		margin: auto;
	}
	.view_all_work {
		margin-top: 30px;
	}
	.my_works .one_block{
	 align-items: baseline;
	}

}


@media only screen and (max-width: 1300px) {
	.header_block_my_blog{
		flex-wrap: wrap;
    	justify-content: center;
	}

}

@media only screen and (max-width: 1280px) {
	.block_head .text_one_morning{
		width: auto;
		margin-right: 50px;
		margin-left: 50px;
	}
	.one_morning {
	    margin-right: 33px;
	}
	.block_lucaz_film p{
		
		margin-right: 30px;
	}
	.line_and_year{
		margin: 0;
	}
	.my_blog {
		background-size: 100% 100%;
	}
	.contact_info .addres {
		text-align: center;
	}
	.contact_info .addres svg{
		float: left;
		margin-top: 6px;
	}
	.contact_info .email {
		font-size: 16px;
	}

}

@media only screen and (max-width: 1000px) {
	.header_text h1 {
	    font-size: 75px;
	}
}