.my_story{
	width: 50%;
	padding: 119px 102px 0 88px;

}
.my_story_header{
	color: #674ee1;
	align-items: center;
}
.my_story_header hr{
	width: 40px;
	border: 2px solid #674ee1;
}
.my_story_header .my {
	font-size: 70px;
	margin-left: 23px;
	font-weight: bold;
}
.my_story_header .story {
	font-size: 70px;
	margin-left: 10px;
	font-weight: bold;
}

.a_collection{
	line-height: 32px;
    margin-top: 29px;
    color: #674ee1;
    font-size: 30px;
}
.text_collection{
	font-size: 19.7px;
    margin-top: 60px;
    line-height: 28px
}
.blocks_percentage{
	margin-top: 60px;
	margin-bottom: 100px
}
.block_percentage_1{
	margin-bottom: 21px;
}
.percentage{
	justify-content: space-between;
}
.percentage h2{
	font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}


