.my_works{
	padding-left: 84px;
	padding-bottom: 89px;
	background: #4837e9;
	padding-top: 151px;
	font-weight: 700;
}

.my_works_header{
	align-items: center;
	font-size: 76px;
	margin-left: 18px;
	font-weight: bold;
	color: white;
	margin-bottom: 0;
	margin-left: 0;
}
.my_works_header hr{
	width: 30px;
	border: 2px solid white;
	margin-right: 20px;
	margin-left: 5px;
	margin-top: 31px;
}

.one_block {
	align-items: center;
}
.my_works_header .Works{
	margin-left: 10px;
}
.my_works_collection{
	width: 714px;
	font-size: 18px;
	color: white;
	font-weight: 100;
	padding-left: 27px;
	padding-top: 20px;
	margin-left: 158px;
	margin-right: 40px;
}
.btn_circle{
	color: white;
	font-size: 44px;
	margin-right: 76px;
	margin-top: 14px;
}

.view_all_work{
	text-align: right;
	margin-top: 12px;
	width: 47.2%;
	font-size: 19px;
	font-weight: 100;
}
.view_all_work a{
	color: #48e7e8 !important;
	padding-left: 27px;
}

.img_for_slide{
	padding-bottom: 100px;
}

.img_for_slide img {
	margin-right: 32px;
	width: 326px;
	margin-top: 81px;
	margin-bottom: 10px
}